//BASE COLORS
$back-color: #171717;
$color: #CACACA;



//

.poly-synth {
    background: $back-color;
    color: $color;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 300px;
    width: 1024px;
    font-family: sans-serif;



    .osc{
        flex: 0.6;
        display: flex;
        flex-direction: column;

        > div{
            flex: 1;
            display: flex;
        }
    }

    .filt1{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .env{
        flex: 1;
        display: flex;
    }

    .section{
        flex: 1;
        border: rgba(0, 0, 0, 0.12) 1px solid;
        margin: -0.5px; //this makes stacking borders 1px
    }

    .subsection{
        flex: 1;
        display: flex;
        justify-content: center;

        &.horitzontal{

        }

        &.vertical{
            flex-direction: column;
        }
    }

    .knob-label-container{
        margin: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span{
            font-size: 10px;
        }
    }

}
