//BASE COLORS
$back-color: #171717;
$color: #CACACA;



//

.poly-synth {
    background: $back-color;
    color: $color;
    height: 300px;
    width: 1024px;
    font-family: sans-serif;
    position: relative;



    .osc{
        //self positioning
        position: absolute;
        width: 200px;
        height: 200px;

        display: flex;
        flex-direction: row;

        > div{
            flex: 1;
            display: flex;
        }
    }

    .filt1{
        //self positioning
        left: 200px;
        position: absolute;
        width: 300px;
        height: 100px;

        display: flex;
        flex-direction: column;
    }

    .env{
        //self positioning
        position: absolute;
        left: 500px;
        width: 300px;
        height: 80px;


        display: flex;
        justify-content: space-around;
    }

    .section{
        box-shadow: black 0 0 0 1px;
    }

    .subsection{
        flex: 1;
        display: flex;
        justify-content: center;

        &.horitzontal{

        }

        &.vertical{
            flex-direction: column;
        }
    }

    .knob-label-container{
        margin: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span{
            font-size: 10px;
        }
    }

}
