html, body {
    height:100%;
    margin:0;
}

#react-root {
    height:100%;
    margin:0;
}

#stack{
	display: flex;
	flex-direction: column;
	height: 100%;
}


#instrument-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #20394b;
}
