$sizeX: 110px;
$sizeY: 22px;

.selector {


    width: $sizeX;
    height: $sizeY;

    margin: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
    border: 2px #060606 solid;
    border-radius: 4px;
    background: #262626;

    color: #A8F8F2;
    font-family: monospace;
    font-size: 14px;

    overflow: hidden;

    .arrow {
        width: 14px;
        text-align: center;

        background: #1D1D1D;
        border: 1px solid #252525;
        padding: 2px 2px;
    }

}
