#keyboard {

    background: rgb(51, 37, 28);

    flex: 1;
    display: flex;
    justify-content: center;
    height: 120px;
    overflow: hidden;

    border-top: black 4px solid;

    .container{
        height: 112px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.54) 0 0 80px;
    }

    .key {
        transition: box-shadow 0.1s ease, height 0.1s ease, background-color 0.1s ease, color 0.1s ease;
        display: inline-block;
        text-align: center;

        font-size: 9px;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0);
    }

    .key.white:hover{
        color: rgba(0, 0, 0, 0.5);
    }

    .key.black:hover{
        color: rgba(255, 255, 255, 0.5);
    }


    .white.key:active {
        background-color: #e0e0e0;
        height: 110px;
        box-shadow: #D6D6D6 0px 0px 0px;
    }

    .black.key:active {
        background-color: #1d1d1d;
        height: 75px;
        box-shadow: #464646 0px 0px 0px;
    }

    .white.key {
        background-color: #f6f6f6;
        border: #DEDEDE 1px solid;
        width: 40px;
        height: 100px;
        box-shadow: #CCCCCC 0px 10px 0px;
    }

    .black.key {
        display: inline-block;
        background-color: #212121;
        border: #464646 1px solid;
        box-shadow: #1B1B1B 0px 5px 0px;
        position: relative;
        width: 20px;
        margin-right: -23px;
        left: -10px;
        height: 70px;
        top: 0px;
    }
}
