$size: 25px;

.slider {
    margin: 8px;
    flex: 0 0 $size;
    box-shadow: #171717 0 0 0px 10px inset;
    background-color: black;

      .knob {
        box-shadow: 0 0.2em 0 0.1px rgba(255, 255, 255, 0.25) inset, 0 -0.2em 0px 0.1px rgba(0, 0, 0, 0.19) inset, 0 0 10px rgba(0, 0, 0, 0.24), black 0 0 1px 1px;
        background-color: #262626;
        position: absolute;
        width: $size;
        height: $size*1.5;
        border-radius: 5px;
        z-index: 10;
        }

}
