$size: 35px;
$smallSize: 22px;

.knob-surround {

    &.small{
        font-size: 8px;
        width: $smallSize;
        height: $smallSize;
    }

    &.big{
        width: 65px;
        height: 65px;
        margin: 20px;
    }

    font-size: 10px;
    position: relative;
    background-color: grey;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: solid 2px #000000;
    margin: 6px;
    margin-bottom: 20px;
    background: #353535;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F2F2F), color-stop(1, #383838));
    box-shadow: inset 0 .2em 0 .1px hsla(0,0%,100%,.25),inset 0 -.2em 0 .1px rgba(0,0,0,.19),0 .6em 1.2em 0 rgb(0, 0, 0),0 0 2px 1px hsla(0, 0%, 100%, 0.2),0 0 20px -2px hsla(0, 0%, 100%, 0.3);

  .knob {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(0deg);
  z-index: 10;
}
.knob:before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 47%;
    width: 10%;
    height: 14%;
    background-color: #A8F8F2;
    border-radius: 50%;
    box-shadow: 0 0 0.4em 0 #8ee7e0;
}

    span {
        position: absolute;
        width: 200%;
        left: -50%;
        top: 120%;
        text-align: center;
    }
}
