//BASE COLORS
$back-color: #C7C7BF;;
$color: #161616;



//

.oscilloscope {
    background: $back-color;
    color: $color;
    height: 200px;
    width: 1024px;
    position: relative;

    .canvas {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 180px;
        width: 700px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 0px 2px, white 0 2px 0px 2px;
    }

}
